@import './base.css';

/* 全局样式重置 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

/* 基础链接样式 */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 电脑端优化样式 */
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: flex-start;
    font-size: 16px;
  }

  #app {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 17px;
  }
}
